<!DOCTYPE html>
<html>
    <head>
        <% include ../partials/head %>
        
    </head>
    <body>
        <header>
            <% include ../partials/header %>
        </header>

        <main>
            <div class="corpo-pagina" style="padding: 0px 20px;">
                <table>
                    <thead>
                        <tr>
                            <th>Cidade</th>
                            <th>Bairro</th>
                            <th>Motorista</th>
                        </tr>
                    </thead>

                    <tbody>                        
                        <% caronas.forEach(function(caronas) { %>
                            <tr style="cursor: pointer;">
                                <td class="clickme"><%= caronas.cidade %></td>
                                <td class="clickme"><%= caronas.bairro %></td>
                                <td><a href="#"><div style="height:100%;width:100%">Nome</div></a></td>
                            </tr>

                            <tr class="hideme">
                                <td colspan="3">
                                    <div>
                                        <li style="padding-left: 20px;"><b>Dias de aula: </b>
                                            <%= caronas.segunda %>
                                            <%= caronas.terca %>
                                            <%= caronas.quarta %>
                                            <%= caronas.quinta %>
                                            <%= caronas.sexta %>
                                            <%= caronas.sabado %>
                                        </li>
                                    </div>
                                </td>
                            </tr>
                        <% }); %>
                    </tbody>
                </table>                
            </div>
        </main>

        
        
        

        <% include ../partials/mobile-sidenav %>
    </body>
</html>